VITE_TINY_MCE_API_KEY=your_tiny_mce_api_key
VITE_APPWRITE_PROJECT_ID = 
VITE_APPWRITE_PROJECT_NAME = "BlogProject"
VITE_APPWRITE_ENDPOINT = "https://cloud.appwrite.io/v1"
VITE_APP_ENV=development
VITE_APPWRITE_DATABASE_ID =
VITE_APPWRITE_BUCKET_ID = 